.parallax {
  overflow: hidden;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.scroller {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  font-stretch: condensed;
}

@media (max-width: 768px) {
  .scroller {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.parallax span {
  display: block;
  margin-right: 40px;
}
